{{> post-detail post}}

{{#if logged_in}}

<form class="add-comment">
    <div class="form-group">
        <input class="form-control" id="user-comment" placeholder="Your Comments" type="text">


</form>

<script src="/js/addComment.js"></script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-606e3ae49df3995f"></script>-->
{{/if}}