<div class="row">
  <div class="col-md-6">
    <h2 class="mb-3 text-white">Sign in</h2>

    <form class="form login-form text-white">
      <div class="mb-3">
        <label for="email-login">Email:</label>        
        <input class="form-input" type="text" id="email-login" />        
      </div>
      <div class="mb-3">
        <label for="password-login">Password:</label>        
        <input class="form-input" type="password" id="password-login" />        
      </div>      
      <button class="btn btn-primary mt-3" type="submit">Sign in</button>      
    </form>
  </div>
  <div class="col-md-6">
    <h2 class="mb-3 text-white">Become a Member</h2>

    <form class="form signup-form tex-white">
      <div class="mb-3">
        <label for="name-signup">Name:</label>        
        <input class="form-input" type="text" id="name-signup" />        
      </div>
      <div class="mb-3">
        <label for="email-signup">Email:</label>        
        <input class="form-input" type="text" id="email-signup" />        
      </div>
      <div class="mb-3">
        <label for="password-signup">Password:</label>        
        <input class="form-input" type="password" id="password-signup" />        
      </div>      
      <button class="btn btn-primary mt-3" type="submit" id="signupBtn">Create an account</button>      
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
